In [1]:
a=10
b=23
a+b

33

In [8]:
# Assign The vAriable
a=10
b=20
a=5;d=10
c=34
x = y= z="Chill"
    
#Print the output
print(c)
print(a)
print("Value of d",d)
print("Value of b=\n",b)
print(b,c)
print(a+b)
print(a*b)

34
5
Value of d 10
Value of b=
 20
20 34
25
100

In [10]:
# Division 
a=1
b=3;print(a/b)

print(a//b)# floored division
print(7/3)
print(round(1/3,2))

0.3333333333333333
0
2.3333333333333335
0.33

In [14]:
a=5
b=3.2
print(type(b))
print(a+b)
a="5"

b="3.2"
print(a+b)
print(type(b))

<class 'float'>
8.2
53.2
<class 'str'>

In [3]:
#User Input

name=input("Enter your Name:")
print("Hi How Are You",name)
print("Whats your age?")

Enter your Name:shilu
Hi How Are You shilu
Whats your age?

In [8]:
#if-else
x=7
y=6
if x<y:
    
    print("Start Encoding")
    print("x is less than y")

elif x>y:
    print(" x is grater than y")
else:

    print("x and y are equal")

print("Finish")

 x is grater than y
Finish

In [11]:
#Nested ifelse
if x==y:
    print(" x and y are equal")
    
else:
    if x < y:
    
    
        print("x is less than y")
        
    else:
            print("x is grater than y")
            
print("done")

x is grater than y
done

In [12]:
# Multiple conditions at a time
x=5;b=6
if(x>5 and b<6):
    print("x is a single digit number")
    #nothing will be dispalyed

In [13]:
# Multiple Logical operators at a time
x=5;b=6
if(x>5 and b<6) or x!=y:
    print("x is a single digit number")

x is a single digit number

In [5]:
#User defined functions
def square(a):

    print("value is =",a)
    return a*a

#square (10)
value=float(input("enter a number-"))
square (value)

enter a number-12.5
value is = 12.5

156.25

In [6]:
# Non parametarized functions
def hi():
    print("Hello Shilpa")
hi()
# we can call any where

Hello Shilpa

In [7]:
hi()

Hello Shilpa

In [9]:
# Conditional loop --while also gives else which is unique
count=0
while(count<5):
    print(count)
    count=count+1
else:
    print(" count exceeded",count)

0
1
2
3
4
 count exceeded 5

In [1]:
count=100

while(count>=70):
    print(count)
    count=count-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70

In [3]:
count=100

while(count>=70):
    if(count%2==0): ## remender should 0
        print(count," is an even number")
    else:
        print(count,"is an odd number")
        
    count=count-1

100  is an even number
99 is an odd number
98  is an even number
97 is an odd number
96  is an even number
95 is an odd number
94  is an even number
93 is an odd number
92  is an even number
91 is an odd number
90  is an even number
89 is an odd number
88  is an even number
87 is an odd number
86  is an even number
85 is an odd number
84  is an even number
83 is an odd number
82  is an even number
81 is an odd number
80  is an even number
79 is an odd number
78  is an even number
77 is an odd number
76  is an even number
75 is an odd number
74  is an even number
73 is an odd number
72  is an even number
71 is an odd number
70  is an even number

In [4]:
# for loop

friends=["shilpa","swapna","alka",4.2]
for f in friends:
    print("Happy Diwali",f)

Happy Diwali shilpa
Happy Diwali swapna
Happy Diwali alka
Happy Diwali 4.2