In [1]:
## Python Numbers
a=5
print(type(a))

<class 'int'>

In [2]:
a=30.6
print(type(a))

<class 'float'>

In [3]:
a=10+2j
print(type(a))

<class 'complex'>

In [5]:
print((-2.8))
print(float(5))

-2.8
5.0

In [6]:
import math

In [7]:

print(math.sqrt(4))
print(math.floor(-10.7))
print(math.pow(2,3))
print(math.factorial(6))##floor returns nearest lowest integer#
print(math.pi)
print(round(math.pi,2))

2.0
-11
8.0
720
3.141592653589793
3.14

In [4]:
## Alias Name
## Range defaoult is 0 to1
import random as rn
#rn.seed(10)
print(rn.random())
print(rn.randrange(50,100))
print(rn.uniform(50.5,100))
x=[1,2,3,4]
print(rn.choice(x))

0.48901499808346094
86
78.2957003839538
4

In [7]:
## Strings
my_string="hello world"
print(my_string)
print()

## Multi line
my_string=""" hi. whats up?all well  """## three ""
print(my_string)

my_string=""" hi.\n whats up?all well  """### New Line
print(my_string)

hello world

 hi. whats up?all well
 hi.
 whats up?all well

In [8]:
## How to access the data structure
my_string="Python is a very very vast language.it is intersting too"
print(my_string[0])

P

In [9]:
my_string="Python is a very very vast language.it is intersting too"
print(my_string[-3])
## Inclusive and Exclusive
print(my_string[3:10])
print(my_string[:25])
print(my_string[25:])
print(my_string[:])
print(my_string[100])# will give error as length is short

t
hon is
Python is a very very vas
t language.it is intersting too
Python is a very very vast language.it is intersting too

IndexError: string index out of range

In [11]:
my_string="Python is a very very vast language.it is intersting too"
print(my_string[-3])
## Inclusive and Exclusive
print(my_string[3:10])
print(my_string[:25])
print(my_string[25:])
print(my_string[:])
print(my_string[23])# will give error as length is short
print(len(my_string))

t
hon is
Python is a very very vas
t language.it is intersting too
Python is a very very vast language.it is intersting too
a
56

In [12]:
## Immutability
## Can not replace the individual character
my_string[3]=8 ## Induals characters can not be replaced

TypeError: 'str' object does not support item assignment

In [13]:
del my_string

In [15]:
my_string[3]="B"
print(my_string)

NameError: name 'my_string' is not defined

In [18]:
str1="hi"
str2="shilpa"
str3=str1 +" "+ str2## pass space in cocatination
print(str3)

hi shilpa

In [23]:
print("python".lower())## convert into loewr case
string="shilpa.swapna,alka,deepak"
print(string.upper().split(sep=","))
print("Happy Happy".replace("p","d"))

python
['SHILPA.SWAPNA', 'ALKA', 'DEEPAK']
Haddy Haddy

In [24]:
### Lists

l1=[1,2,3,4]
l2=[1,4.2,"shilpa",4.2]
print(l1)
print(l2)
print(type(l2))

[1, 2, 3, 4]
[1, 4.2, 'shilpa', 4.2]
<class 'list'>

In [25]:
# use of slicing operator
a=[10,20,30,40,50]
print(a[2])# Starts from 0
print(a[0:3])
print(a[3:])
print(a[:])

30
[10, 20, 30]
[40, 50]
[10, 20, 30, 40, 50]

In [29]:
#create list for larger data
x=list(range(0,100))
x=list(range(0,100,5))
print(x)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [32]:
b=["spam",2.0,5,[10,"shilu"]]#nested list
print(b)
print(b[3])
print(b[3][1][1])## 3,1,1..remeber starts from 0

['spam', 2.0, 5, [10, 'shilu']]
[10, 'shilu']

In [34]:
## Lists are mutable
a=[10,20,22,33,44,55,66,77]## alter
print(a)
a[3]=55.0
print(a)
a[4]="shilpa"
print(a)

[10, 20, 22, 33, 44, 55, 66, 77]
[10, 20, 22, 55.0, 44, 55, 66, 77]
[10, 20, 22, 55.0, 'shilpa', 55, 66, 77]

In [35]:
## Operations
c=a+b+[5,6]
c

[10, 20, 22, 55.0, 'shilpa', 55, 66, 77, 'spam', 2.0, 5, [10, 'shilu'], 5, 6]

In [37]:
### Adding an element==Append==at a time one elemnt
l3=[1,2,3,4]
l4=[4,5,6,7,8,9]
l3.append("shilpa")
l3.extend(l4)##. Adds Multiple elemnts at a time##
print(l3)

[1, 2, 3, 4, 'shilpa', 4, 5, 6, 7, 8, 9]

In [38]:
l3.insert(3,"hello")## To avoid insertion only at the end use insert
print(l3)

[1, 2, 3, 'hello', 4, 'shilpa', 4, 5, 6, 7, 8, 9]

In [40]:
l3.remove(4)### Number 4 will be removed as ()bracket
print(l3)
del l3[4]# square bracet..passing index number..position 4th will be removed
print(l3)

[1, 2, 3, 'hello', 'shilpa', 5, 6, 7, 8, 9]
[1, 2, 3, 'hello', 5, 6, 7, 8, 9]

In [41]:
del l3[6:8]## 6th and 7th elemnt will be removed
print(l3)

[1, 2, 3, 'hello', 5, 6, 9]

In [42]:
### Tuples--- List with ()bracket
## immutable unlike lists
## read only copy
## Can not add,delete or alter the data
# u can delete entire tuple or recraete
a=(5,"shilpa",10+2j,89)
print(a)
print(type(a))
print(a[0])

(5, 'shilpa', (10+2j), 89)
<class 'tuple'>
5

In [43]:
n_tuple=("shilpa",[8,4,5],(1,2,3),8)
print(n_tuple[1][2])

5

In [44]:
n_tuple=("shilpa",[8,4,5],(1,2,3),8)
n_tuple[2][1]=0 ## Can not alter the elemnts
print(n_tuple[1][2])

TypeError: 'tuple' object does not support item assignment

In [45]:
del n_tuple

In [47]:
b=list(a)### Conversion of tuple into list
print(type(b))
print(b)

<class 'list'>
[5, 'shilpa', (10+2j), 89]

In [52]:
## Sets
##Mixed elements are allowed
## Does not preserve the order
# Doesnot even support indexing
## unon intesection operations
## Sets are mutable

s1={1,2,3,4,56,7,8,9,12.14,3,4}
## repetative elemnts are removed
print(s1)
s1={1,1.0,"hi","shilpa",(1,2,3)}
print(s1)
#s1={1,1.0,"hi","shilpa",(1,2,3),[1,2,3]}-- We can not add list in set

{1, 2, 3, 4, 7, 8, 9, 12.14, 56}
{1, 'hi', 'shilpa', (1, 2, 3)}

TypeError: unhashable type: 'list'

In [53]:
s1[0]## will genarate an error as doesnot support indexing

TypeError: 'set' object is not subscriptable

In [57]:
## Adding Elements
s2={2,3,4,5}
print(s2)
s2.add(8)
print(s2)
## Add multiple elemnts at atime##
s2.update([1,2,6,7,8,9,10])
print(s2)

{2, 3, 4, 5}
{2, 3, 4, 5, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [59]:
## Deleting
s2.remove(6)## Can not remove multiple elements at atime
print(s2)

TypeError: remove() takes exactly one argument (2 given)

In [60]:
a=[2,3]
for i in a:
    s2.remove(i)
print(s2)

{1, 4, 5, 7, 8, 9, 10}

In [63]:
## Formation of sets

A=[1,2,3,4,5,6,7]
B=[4,5,7,8,9,10,13]
setA=set(A)
setB=set(B)
print(setA|setB)
print(setA.union(setB))

print(setA & setB)

print(setA.intersection(setB))

print(setA-setB)

print(setB.difference(setA))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13}
{4, 5, 7}
{4, 5, 7}
{1, 2, 3, 6}
{8, 9, 10, 13}

In [64]:
## Empty Curly braces are reserved for creating dictionary
a={}
type(a)

dict

In [65]:
## Dict function also gives dictionary
Dictionary{}

SyntaxError: invalid syntax (<ipython-input-65-5c092a9d93f4>, line 2)

In [66]:
d2={studentid:[10,11,12,13,14,15]
Names:["a","b","c","d","e","f"]
Marks:[50,51,53,45,56,34]}

SyntaxError: invalid syntax (<ipython-input-66-3ee4c81c83c3>, line 2)

In [67]:
# Dictionary
# Mixed data type alloed
# Presreves the order
#No indexing supported
# Keys should be unique
#Value could be repeated
# They are mutable.. Add ,alter,modify data

d1={1:"A",2:"B"}
print(d1)

{1: 'A', 2: 'B'}

In [71]:
d2={"studentid":[10,11,12,13,14,15],
"Names":["a","b","c","d","e","f"],
"Marks":[50,51,53,45,56,34],"Marks":[12,13]}## It will take latest one
print(d2)

{'studentid': [10, 11, 12, 13, 14, 15], 'Names': ['a', 'b', 'c', 'd', 'e', 'f'], 'Marks': [12, 13]}

In [70]:
print(d2["Names"])

['a', 'b', 'c', 'd', 'e', 'f']

In [1]:
## Checking the elemnts of dictionary##

d2={"Names":"Shilpa","age":45}
d2["age"]=46
print(d2)

{'Names': 'Shilpa', 'age': 46}

In [3]:
## Add column
d2={"Names":"Shilpa","age":45}
d2["age"]=46
print(d2)
d2["adress"]="powai"
print(d2)

{'Names': 'Shilpa', 'age': 46}
{'Names': 'Shilpa', 'age': 46, 'adress': 'powai'}

In [5]:
d3={"Names":"Shilpa","age":45}
d3["age"]=15
print(d3)


if d2["age"]==d3["age"]:
    print(True)
else:
    print(False)

{'Names': 'Shilpa', 'age': 15}
False

In [6]:
##  Can dekte key values
del d3["age"]
print(d3)

{'Names': 'Shilpa'}

In [7]:
d3.keys()

dict_keys(['Names'])

In [8]:
d3.values()

dict_values(['Shilpa'])

In [17]:
## Zipping
a=[1,2,3,4,5,6,7]##  Elemnts who dont have pair will be neglected
b=[4,8,9,10,23]
#c=list(zip(a,b))
#print(c)
d=["Hi","hello",3,4,5,6]
c=list(zip(a,b,d))
print(c)

[(1, 4, 'Hi'), (2, 8, 'hello'), (3, 9, 3), (4, 10, 4), (5, 23, 5)]